In [44]:
import pandas as pd

In [45]:
df = pd.read_csv('../examples/data/oasis2/oasis2.csv')

In [46]:
df

,id,y,Visit,MR Delay,is_male,right_handed,Age,EDUC,SES,MMSE,CDR,eTIV,nWBV,ASF
0,OAS2_0001_MR1_1,0,0.2,0.000000,1,1,0.887755,0.608696,0.4,0.9,0.0,0.991055,0.831825,0.556568
1,OAS2_0001_MR1_2,0,0.2,0.000000,1,1,0.887755,0.608696,0.4,0.9,0.0,0.991055,0.831825,0.556568
2,OAS2_0001_MR1_3,0,0.2,0.000000,1,1,0.887755,0.608696,0.4,0.9,0.0,0.991055,0.831825,0.556568
3,OAS2_0001_MR2_1,0,0.4,0.173172,1,1,0.897959,0.608696,0.4,1.0,0.0,1.000000,0.813848,0.551591
4,OAS2_0001_MR2_2,0,0.4,0.173172,1,1,0.897959,0.608696,0.4,1.0,0.0,1.000000,0.813848,0.551591
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1292,OAS2_0186_MR2_3,0,0.4,0.289125,0,1,0.642857,0.565217,0.4,1.0,0.0,0.661843,0.951172,0.833423
1293,OAS2_0186_MR2_4,0,0.4,0.289125,0,1,0.642857,0.565217,0.4,1.0,0.0,0.661843,0.951172,0.833423
1294,OAS2_0186_MR3_1,0,0.6,0.609322,0,1,0.663265,0.565217,0.4,1.0,0.0,0.664983,0.957466,0.829481
1295,OAS2_0186_MR3_2,0,0.6,0.609322,0,1,0.663265,0.565217,0.4,1.0,0.0,0.664983,0.957466,0.829481
1296,OAS2_0186_MR3_3,0,0.6,0.609322,0,1,0.663265,0.565217,0.4,1.0,0.0,0.664983,0.957466,0.829481

In [47]:
id_list = df['id'].tolist()

In [48]:
subject_id = [s[:9] for s in id_list]

In [49]:
df['Subject ID'] = subject_id

In [50]:
df

,id,y,Visit,MR Delay,is_male,right_handed,Age,EDUC,SES,MMSE,CDR,eTIV,nWBV,ASF,Subject ID
0,OAS2_0001_MR1_1,0,0.2,0.000000,1,1,0.887755,0.608696,0.4,0.9,0.0,0.991055,0.831825,0.556568,OAS2_0001
1,OAS2_0001_MR1_2,0,0.2,0.000000,1,1,0.887755,0.608696,0.4,0.9,0.0,0.991055,0.831825,0.556568,OAS2_0001
2,OAS2_0001_MR1_3,0,0.2,0.000000,1,1,0.887755,0.608696,0.4,0.9,0.0,0.991055,0.831825,0.556568,OAS2_0001
3,OAS2_0001_MR2_1,0,0.4,0.173172,1,1,0.897959,0.608696,0.4,1.0,0.0,1.000000,0.813848,0.551591,OAS2_0001
4,OAS2_0001_MR2_2,0,0.4,0.173172,1,1,0.897959,0.608696,0.4,1.0,0.0,1.000000,0.813848,0.551591,OAS2_0001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1292,OAS2_0186_MR2_3,0,0.4,0.289125,0,1,0.642857,0.565217,0.4,1.0,0.0,0.661843,0.951172,0.833423,OAS2_0186
1293,OAS2_0186_MR2_4,0,0.4,0.289125,0,1,0.642857,0.565217,0.4,1.0,0.0,0.661843,0.951172,0.833423,OAS2_0186
1294,OAS2_0186_MR3_1,0,0.6,0.609322,0,1,0.663265,0.565217,0.4,1.0,0.0,0.664983,0.957466,0.829481,OAS2_0186
1295,OAS2_0186_MR3_2,0,0.6,0.609322,0,1,0.663265,0.565217,0.4,1.0,0.0,0.664983,0.957466,0.829481,OAS2_0186
1296,OAS2_0186_MR3_3,0,0.6,0.609322,0,1,0.663265,0.565217,0.4,1.0,0.0,0.664983,0.957466,0.829481,OAS2_0186

In [51]:
unique_ids = df['Subject ID'].unique()

In [52]:
train_ids = unique_ids[0:102]
val_ids = unique_ids[102:122]
test_ids = unique_ids[122:142]

In [53]:
df_train = df[df['Subject ID'].isin(train_ids)]

In [54]:
df_val = df[df['Subject ID'].isin(val_ids)]

In [55]:
df_test = df[df['Subject ID'].isin(test_ids)]

In [56]:
import shutil
import os

In [57]:
source_dir = '../examples/data/oasis2/mri/img/'

target_dir = '../examples/data/oasis2train/mri/img/'

os.makedirs(target_dir, exist_ok=True)  

for i in df_train['id']:
    shutil.copy(source_dir+i+'.jpg', target_dir)

df_train = df_train.drop('Subject ID', axis=1)

df_train.to_csv(target_dir + '../../oasis2.csv', index=False)

In [58]:
source_dir = '../examples/data/oasis2/mri/img/'

target_dir = '../examples/data/oasis2val/mri/img/'

os.makedirs(target_dir, exist_ok=True)  

for i in df_val['id']:
    shutil.copy(source_dir+i+'.jpg', target_dir)
    
df_val = df_val.drop('Subject ID', axis=1)

df_val.to_csv(target_dir + '../../oasis2.csv', index=False)

In [59]:
source_dir = '../examples/data/oasis2/mri/img/'

target_dir = '../examples/data/oasis2test/mri/img/'

os.makedirs(target_dir, exist_ok=True)  

for i in df_test['id']:
    shutil.copy(source_dir+i+'.jpg', target_dir)
    
df_test = df_test.drop('Subject ID', axis=1)

df_test.to_csv(target_dir + '../../oasis2.csv', index=False)